body{
    background-color: black;
    margin: 0px;
    padding: 0px;
}
.navul{
    background-color: blue;
    border: 4px groove grey;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding: 0;
}
.navul li{
    border: 3px outset black;
    margin: 4px;
    padding: 10px;
    background-color: red;
    font-size: 20px;
    border-radius: 25px;
}
.navul a {
    font-family: cursive;
    color: black;
}
.navul li:hover {
    color: yellow;
    background-color: black;
    border: 3px outset black;
}
.navul li:active {
    color: black;
    background-color: yellow;
    border: 3px inset black;
}
.id1{
    display: flex;
    justify-content: center;
    font-family: cursive;
    background-color: grey;
}
.id2{
    display: flex;
    background-color: red;
    margin-top: 40px;
    padding: 20px;
    align-items: center;
    justify-content: center;
}
.id1p{
    margin: 10%;
    padding: 10px;
    max-width: 20%;
}